[Desktop Entry]
Name=Power Striker!
GenericName=PowerSmash
Comment=Watch a box fly!
Exec=power-striker %F
Icon=io.github.mlm_games.power-striker
Terminal=false
Type=Application
Categories=Game;Amusement
